-- SPARCS Database Schema
-- MySQL 8.0 | sparcs_db

SET NAMES utf8mb4;
SET FOREIGN_KEY_CHECKS = 0;

-- ─────────────────────────────────────────────
-- Table: audit_log
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `audit_log`;
CREATE TABLE `audit_log` (
  `log_id`        int          NOT NULL AUTO_INCREMENT,
  `user_id`       int          DEFAULT NULL,
  `action`        varchar(255) DEFAULT NULL,
  `resource_type` varchar(100) DEFAULT NULL,
  `resource_id`   int          DEFAULT NULL,
  `changes_log`   text,
  `ip_address`    varchar(45)  DEFAULT NULL,
  `created_at`    timestamp    DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`log_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `audit_log_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: fee_schedule
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `fee_schedule`;
CREATE TABLE `fee_schedule` (
  `fee_id`               int           NOT NULL AUTO_INCREMENT,
  `fee_name`             varchar(100)  DEFAULT NULL,
  `fee_per_hour`         decimal(10,2) DEFAULT NULL,
  `daily_rate`           decimal(10,2) DEFAULT NULL,
  `grace_period_minutes` int           DEFAULT '15',
  `created_at`           timestamp     DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`fee_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: parking_slot
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `parking_slot`;
CREATE TABLE `parking_slot` (
  `slot_id`            int         NOT NULL AUTO_INCREMENT,
  `slot_code`          varchar(20) NOT NULL,
  `status`             varchar(20) DEFAULT 'AVAILABLE',
  `current_vehicle_id` int         DEFAULT NULL,
  `entry_time`         datetime    DEFAULT NULL,
  `zone`               varchar(50) DEFAULT NULL,
  `created_at`         timestamp   DEFAULT CURRENT_TIMESTAMP,
  `updated_at`         timestamp   DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`slot_id`),
  UNIQUE KEY `slot_code` (`slot_code`)
) ENGINE=InnoDB AUTO_INCREMENT=41 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;


-- ─────────────────────────────────────────────
-- Table: parking_transaction
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `parking_transaction`;
CREATE TABLE `parking_transaction` (
  `transaction_id`   int           NOT NULL AUTO_INCREMENT,
  `vehicle_id`       int           NOT NULL,
  `slot_id`          int           NOT NULL,
  `entry_time`       datetime      NOT NULL,
  `exit_time`        datetime      DEFAULT NULL,
  `duration_minutes` int           DEFAULT NULL,
  `calculated_fee`   decimal(10,2) DEFAULT NULL,
  `payment_status`   varchar(20)   DEFAULT NULL,
  `status`           varchar(20)   DEFAULT NULL,
  `created_at`       timestamp     DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`transaction_id`),
  KEY `vehicle_id` (`vehicle_id`),
  KEY `slot_id` (`slot_id`),
  CONSTRAINT `parking_transaction_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle` (`vehicle_id`),
  CONSTRAINT `parking_transaction_ibfk_2` FOREIGN KEY (`slot_id`)    REFERENCES `parking_slot` (`slot_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: rfid_mapping
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `rfid_mapping`;
CREATE TABLE `rfid_mapping` (
  `rfid_id`         int          NOT NULL AUTO_INCREMENT,
  `rfid_tag_number` varchar(100) NOT NULL,
  `vehicle_id`      int          NOT NULL,
  `status`          varchar(20)  DEFAULT 'Active',
  `created_at`      timestamp    DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`rfid_id`),
  UNIQUE KEY `rfid_tag_number` (`rfid_tag_number`),
  KEY `vehicle_id` (`vehicle_id`),
  CONSTRAINT `rfid_mapping_ibfk_1` FOREIGN KEY (`vehicle_id`) REFERENCES `vehicle` (`vehicle_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: user_account
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `user_account`;
CREATE TABLE `user_account` (
  `user_id`       int          NOT NULL AUTO_INCREMENT,
  `username`      varchar(50)  NOT NULL,
  `password_hash` varchar(255) NOT NULL,
  `role`          varchar(20)  NOT NULL,
  `email`         varchar(100) DEFAULT NULL,
  `created_at`    timestamp    DEFAULT CURRENT_TIMESTAMP,
  `updated_at`    timestamp    DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `is_active`     tinyint(1)   DEFAULT '1',
  `full_name`     varchar(100) DEFAULT NULL,
  PRIMARY KEY (`user_id`),
  UNIQUE KEY `username` (`username`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: vehicle
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `vehicle`;
CREATE TABLE `vehicle` (
  `vehicle_id`        int         NOT NULL AUTO_INCREMENT,
  `plate_number`      varchar(20) NOT NULL,
  `owner_id`          int         NOT NULL,
  `vehicle_type`      varchar(50) DEFAULT NULL,
  `status`            varchar(20) DEFAULT 'Active',
  `color`             varchar(50) DEFAULT NULL,
  `created_at`        timestamp   DEFAULT CURRENT_TIMESTAMP,
  `updated_at`        timestamp   DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `model`             varchar(50) DEFAULT NULL,
  `rfid_tag_number`   int         DEFAULT NULL,
  `registration_date` timestamp   DEFAULT CURRENT_TIMESTAMP,
  `is_active`         tinyint(1)  DEFAULT '1',
  `parking_status`    varchar(20) DEFAULT 'Not Parked',
  PRIMARY KEY (`vehicle_id`),
  UNIQUE KEY `license_plate` (`plate_number`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

-- ─────────────────────────────────────────────
-- Table: vehicle_owner
-- ─────────────────────────────────────────────
DROP TABLE IF EXISTS `vehicle_owner`;
CREATE TABLE `vehicle_owner` (
  `owner_id`     int          NOT NULL AUTO_INCREMENT,
  `user_id`      int          NOT NULL,
  `full_name`    varchar(100) DEFAULT NULL,
  `phone_number` varchar(15)  DEFAULT NULL,
  `address`      varchar(255) DEFAULT NULL,
  `created_at`   timestamp    DEFAULT CURRENT_TIMESTAMP,
  `updated_at`   timestamp    DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`owner_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `vehicle_owner_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `user_account` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;

SET FOREIGN_KEY_CHECKS = 1;